body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#accueil.hidden, #question_1.hidden, #question_2.hidden, #question_3.hidden, #question_4.hidden, #question_5.hidden, #question_6.hidden, #question_7.hidden, #question_8.hidden, #question_9.hidden, #question_10.hidden,
#answer_1.hidden, #answer_2.hidden, #answer_3.hidden, #answer_4.hidden, #answer_5.hidden, #answer_6.hidden, #answer_7.hidden, #answer_8.hidden, #answer_9.hidden, #answer_10.hidden, #bonus.hidden, #arrivée.hidden {
    display: none;
}

/* Partie accueil */
#accueil {
  background-image: url('./img/les grisonnes avec reshade 2.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accueil .contenu {
    padding: 300px;
    vertical-align: middle;
}

.accueil h1 {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke: 1.5px white;
    color: brown;
}

.accueil button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 132, 27);
    width: fit-content;
    margin: 0 auto;
    margin-top: 200px;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
/* Fin de la partie accueil */

/* Partie question */
.question {
    background-image: url('./img/les grisonnes avec reshade 2.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
  }

.question .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    position: relative;
}

.question .contenu {
    background-color: white;
    max-width: 600px; 
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
  }

.question .top {
    padding: 10px;
    border-bottom: 5px gray solid;
}

.question .quiz {
    display: flex;
    justify-content: space-between;
}

.question .quiz h2 {
    vertical-align: middle;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
}

.question .timer {
    display: flex;
    padding: 20px;
    background-color:deepskyblue;
    height: 50px;
}

.question .number {
    margin-left: 30px;
    background-color: black;
    color: white;
    width: 50px;
}

.question .number p {
    vertical-align: middle;
}

.question .center {
    border-bottom: 5px gray solid;
}

.question .center .titre {
    padding-left: 10px;
    padding-right: 30px;
}

.question .center .bouton {
    margin-top: 10px;
    text-align: center;
}

.question .center .bouton li {
    padding: 10px;
}

.question .center button {
    padding: 10px;
    text-align: center;
    background-color: rgb(200, 197, 197);
    width: 100%;
    cursor: pointer;
}
.question .center button:hover {
    border: 2px orange solid;
}

.question .bottom {
    display: flex;
}

.question .bottom p {
    padding-left: 10px;
    padding-top: 5px;
}

.question .bottom li {
    display: inline-block;
    margin-right: 2px;
    padding-left: 5px;
}

.question .bottom li span {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: gray; 
    border-radius: 50%;
}
/* Fin de la partie question */

/* Partie réponse */
.answer {
  background-image: url('./img/les grisonnes avec reshade 2.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.answer .container {
    position: relative;
}

.answer .contenu {
    padding: 300px;
    vertical-align: middle;
}

.answer h1 {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke: 1.5px white;
    color: brown;
}

.answer img {
    display: flex;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px white solid;
}

.answer .next button {
    background-color: deepskyblue;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 15px 50px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Fin de la partie réponse */

/* Partie bonus */
.bonus {
    background-image: url('./img/les grisonnes avec reshade 2.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }

.bonus .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    position: relative;
}

.bonus .contenu {
    background-color: white;
    max-width: 600px; 
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
  }

.bonus .top {
    padding: 10px;
    border-bottom: 5px gray solid;
}

.bonus .quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bonus .quiz h2 {
    font-size: 25px;
    padding: 10px 20px;
}

.bonus .timer {
    display: flex;
    padding: 20px;
    background-color:deepskyblue;
    height: 50px;
}

.bonus .number {
    margin-left: 30px;
    background-color: black;
    color: white;
    width: 50px;
}

.bonus .number p {
    vertical-align: middle;
}

.bonus .center {
    border-bottom: 5px gray solid;
    display: flex;
    justify-content: center;
}

.bonus .center .titre {
    padding-left: 10px;
    padding-right: 30px;
}

.bonus .center .bouton {
    margin-top: 10px;
    text-align: center;
    align-self: center;
}

.bonus .center .bouton button {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
}
.bonus .center button:hover {
    border: 2px orange solid;
}

.bonus .center .bouton button img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: 0;
}

.bonus .bottom {
    display: flex;
}

.bonus .bottom p {
    padding-left: 10px;
    padding-top: 5px;
}

.bonus .bottom li {
    display: inline-block;
    margin-right: 2px;
    padding-left: 5px;
}

.bonus .bottom li span {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: gray;
    border-radius: 50%;
}
/* Fin de la partie bonus */

/* Partie arrivée */
#arrivée {
  background-image: url('./img/les grisonnes avec reshade 2.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrivée .contenu {
    padding: 300px;
    vertical-align: middle;
}

.arrivée h1 {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke: 1.5px white;
    color: brown;
}

.arrivée .score p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 132, 27);
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
/* Fin de la partie arrivée */

@media screen and (max-width: 640px) {
.accueil .contenu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 20px;
}
        
.accueil button {
    margin-top: 50px;
}

.question .container {
    flex-direction: column;
}

.question .contenu {
    margin: 50px auto;
    width: 90%;
}

.answer .contenu {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.answer h1 {
    font-size: 35px;
}
    
.answer img {
    height: 200px;
    width: 300px;
    margin-top: 50px;
}

.answer .container .next button {
    margin-right: 230px;
}

.bonus .container {
    flex-direction: column;
}

.bonus .contenu {
    margin: 50px auto;
    width: 90%;
}

.arrivée .contenu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 20px;
}
        
.arrivée .score {
    margin-top: 50px;
}
}
